{% extends 'base.html'%}

{% block body %}

<div class="jumbotron text-center">
    <h2>Current Rooms and Temperatures</h2>

    <ul class="list-group">
        {% for room in rooms %}
        <div class="container mb-5">
            <li class=" list-group-item">
                {{room.name}} is currently {{room.temperature}} degrees celsius
            </li>

            <div class="input-group input-group-sm">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="{{room.id}}">Lower and Upper Bound</span>
                </div>
                <form id="upload-form" action="{{ url_for('upload') }}" method="POST">
                    <div class=" input-group-append">
                        <input type="text" class="form-control" placeholder="{{room.lower_bound}}">
                        <input type="text" class="form-control" placeholder="{{room.upper_bound}}">
                        <button class="btn btn-outline-secondary" type="submit">
                            Set Range
                        </button>
                    </div>
                </form>

            </div>
        </div>

        {% endfor %}
    </ul>
</div>

{% endblock %}